@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
<div class="kt-content  kt-content--fit-top  kt-grid_item kt-grid_item--fluid kt-grid kt-grid--hor"
     id="kt_content">

    <!-- begin:: Content -->
    <!-- begin:: hero -->
    <div class="kt-sc-license"
         style="background-image: url('../../../../../Content/assets/media/bg/bg-9.jpg')">

        <div class="kt-container ">
            <div class="kt-sc__top">
                <h3 class="kt-sc__title">
                    About Us
                </h3>
            </div>
        </div>
    </div>
    <!-- end:: hero -->
    <div class="kt-negative-spacing--7"></div>
    <!-- begin:: infobox -->
    <div class="kt-grid__item">
        <div class="kt-container ">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="kt-infobox">
                        <div class="kt-infobox__body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="~/Content/assets/media/users/addvertise.jpg" />
                                </div>
                                <div class="col-lg-7">
                                    <div class="kt-infobox__section">
                                        <div class="kt-infobox__content">
                                            <h4 class="kt-infobox__subtitle">
                                                LIST YOUR BUSINESS...
                                                BOOST YOUR BUSINESS!
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="kt-infobox__section">
                                        <div class="kt-infobox_content kt-infobox_content--md">
                                            <p class="text-content">JustFinder is a leading online digital marketing platform for local search and promotes businesses information and exchanges among its Users in India.</p>
                                            <p class="text-content"> <h4>Easy to use</h4> – JustFinder has been made keeping you in mind. You can get the information faster and prefect through category browsing &amp; easy search by location.</p>
                                            <p class="text-content">    JustFinder is a local Digital Marketing platform where visitors can search for the business and get connected by various ways for their businesses. JustFinder is designed and developed to help people of India to find local businesses in their cities and their neighborhoods.</p>
                                            <p class="text-content">
                                                <h4>    Why Choose Us?</h4>
                                                Our Digital Marketing team help to grow your business. Include Search Engine Optimization, Search Engine Marketing and a lot more. We understand the need of your target audience and devise some really unique ways to build a strong customer connect. We help our clients achieve their goals in effective manner. Our team consists of extremely passionate staff that is innovative, disciplined and is constantly looking for opportunities to learn and improve.
                                            </p>

                                            <p class="text-content">
                                                <h4>    Business Owners?</h4>
                                                JustFinder is a place where business owners can post their business profile with many optional fields (business title, Phone number, email, website link, operating hours, images, google search keyword and many more). So our website provide fully featured business profile for all the business that are being submitted. All the business profiles are indexed by search engines and this will help their business to improve their search engine presence.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: infobox -->
    <!-- end:: Content -->
</div>
